a.navbar-brand {
  white-space: normal;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button {
  border: none;
  outline: none;
  background-color: white;
}
